$ws-font-family: montserrat, helveticaneue, helvetica neue, helvetica, arial, lucida grande, sans-serif !default;
$ws-font-size: 18px !default;

$ws-white: #fff !default;
$ws-black: #000 !default;

$ws-input-not-active: #757b84 !default;
$ws-input-error-message: #ff514f !default;

$ws-gutter-size: 16px !default;
$ws-gutter-size-small: 8px !default;

// Login screen
$ws-background-from-color: #2c4259 !default;
$ws-background-to-color: #1b3045 !default;
$ws-background-color: linear-gradient(to bottom, #2c4259, #1b3045) !default;
